.products {
  float: left;
  margin: 15px;
  height: 430px;
  width: 300px;
}

.card-img-top {
  display: block;
  text-align: center;
}
.cardspage {
  height: 1050px;
}
.cards {
  width:100%;
}

.non-active {
  color: darkgrey;
}
